<div class="card">
  <div class="card-box p-4">
    <h1>{{postagem.titulo}}</h1>
    <hr />
    <small>Data de publicação: {{postagem.data}}</small>
    <br />
    <hr />
    {{postagem.conteudo}}
  </div>
</div>